@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Space+Mono&display=swap");

/* Reset some default browser styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Light theme */
:root {
   --primary-bg-color: #ffffff;
   --primary-bg-text-color: #000000;
   --primary-fg-color: #000000;
   --primary-fg-text-color: #ffffff;
   --stats-bg-color: #f5f5f5;
   --stats-border-color: #ccc;
   --stats-text-color: #000; 
}

/* Dark theme */
[data-theme="dark"] {
   --primary-bg-color: #000000;
   --primary-bg-text-color: #ffffff;
   --primary-fg-color: #ffffff;
   --primary-fg-text-color: #000000;
   --stats-bg-color: #1a1a1a; /* a dark grey for the dark theme */
   --stats-border-color: #444; 
   --stats-text-color: #fff; 
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto auto; /* Three rows */
    gap: 2rem; /* Spacing between grid items */
    padding: 2rem; /* Padding around the grid */
    width: 70%; /* Set the desired width percentage or fixed width */
    margin: 0 auto; /* Centers the grid on the page */
    max-width: 1000px; /* Optional: sets a maximum width */
}

.grid-item {
    padding: 1rem;
    border: 1px solid var(--stats-border-color);
    background-color: var(--stats-bg-color);
}


body, header, nav ul, footer, button, input[type="button"], input[type="submit"], nav ul li a:hover {
    transition: background-color 1.0s, color 1.0s;
}

body {
    font-family: 'Poppins', 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-left: 1rem;
    margin-top: 1rem;

}

header {
    background-color: var(--primary-fg-color);
    color: var(--primary-fg-text-color);
    text-align: center;
    padding: 1rem 0;
}

.navbar {
    transition: top 0.3s; /* Smooth transition */
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--primary-fg-color); 
}

nav ul {
    background-color: var(--primary-fg-color);
    overflow: hidden;
    color: var(--primary-fg-text-color);
    padding: 0;
    text-align: center;
    margin: 0;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-fg-text-color);
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: var(--primary-fg-color);
    color: var(--primary-text-color); /* Adjusted for contrast on hover */
}

button, 
input[type="button"], 
input[type="submit"] {
    background-color: var(--primary-fg-color);
    color: var(--primary-fg-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    outline: none;
    margin: 1rem;
    margin-top: -1rem;
}

button:hover,
input[type="button"]:hover, 
input[type="submit"]:hover {
    background-color: var(--primary-bg-color);
    color: var(--primary-bg-text-color);
    border: 1px solid var(--primary-bg-text-color);
}

details {
    cursor: pointer;
}

#theme-toggle {
    margin: 0;
}

.project-title h3 {
    display: inline;
}

#rollStats {
    font-family: 'MedievalSharp';
}

#stats {
    border: 1px solid #704214; /* dark brown border */
    padding: 10px;
    white-space: pre-wrap;
    background-color: #f7e6d1; /* light brownish background color */
    background-image: url('../media/images/old_paper.jpg'); /* replace with your image path */
    background-size: cover; /* ensures the image covers the div */
    background-repeat: no-repeat;      /* Prevents the image from repeating */
    background-position: center;       /* Centers the background image */
    color: #3d2b1f; /* dark brown text color */
    box-sizing: border-box;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); /* subtle shadow */
    font-family: 'Times New Roman', serif; /* an example old-style font */
    border-radius: 5px; /* slightly rounded corners */
    text-align: center;
    font-size: large;
    font-weight: bold;
    position: relative;
}

#contact a {
    color: var(--primary-fg-color);
    text-decoration: none;
    transition: opacity 0.3s ease; 
    opacity: 0.7; /* starting with reduced opacity */
}

#contact a:hover, #contact a:focus {
    opacity: 1; /* full opacity on hover */
}

#contact a:visited {
    color: #7c7c7c; /* A neutral grey, but you can adjust this as needed */
}

footer {
    background-color: var(--primary-fg-color);
    color: var(--primary-fg-text-color); /* Changed to use the correct text color variable */
    padding-left: 0.5rem;
}

footer a {
    color: var(--primary-fg-text-color);
    text-decoration: underline;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    nav ul {
        padding-left: 0;
    }

    nav ul li {
        display: block;
        margin: 0;
        border-top: 0.1rem solid #444; /* This can be further adjusted to use variables */
    }

    nav ul li:last-child {
        border-bottom: 0.1rem solid #444; /* This can be further adjusted to use variables */
    }
}
